<div class="mt-5">
    <div class="row">
        <div class="col text-center">
            <h2>Quản lý User</h2>
        </div>
    </div>
    <div class="row" *ngIf="msgServer != ''">
        <div class="col alert alert-danger mt-3" role="alert">
            {{msgServer}}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <button class="btn btn-danger" id="btnDelete" *ngIf="hasRoleAdmin" [disabled]="lstSelectId.length==0" (click)="deleteChecked()" >Xoá Dữ Liệu</button> 
            <a class="btn btn-success" [ngClass]="{'mx-3': hasRoleAdmin}" [routerLink]="['/admin/users/add', 'view.html']" >Thêm Mới</a>
        </div>
    </div>
    <table class="table table-bordered ">
        <thead class="">
            <tr>
                <th scope="col" *ngIf="hasRoleAdmin"><input type="checkbox"  [(ngModel)]="checkAll" name="checkAll" (change)="selectAllItems()" /></th>
                <th scope="col">User name</th>
                <th scope="col">Password</th>
                <th scope="col">Full name</th>
                <th scope="col">Role</th>
                <th scope="col">Created by</th>
                <th scope="col">Created date</th>
                <th scope="col">Modified by</th>
                <th scope="col">Modified date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of lstResult">
                <td *ngIf="hasRoleAdmin"><input type="checkbox" name="idChecked" [(ngModel)]="item.isSelected" (change)="selectOneItem()" value="{{item.id}}" /></td>
                <td class="align-middle"><a [routerLink]="['/admin/users/edit', item.fullName | urlFriendlly, item.id, 'view.html']">
                        {{item.username}}</a></td>
                <td class="align-middle">********</td>
                <td class="align-middle">{{item.fullName}}</td>
                <td class="align-middle">{{item.roles[0].name}}</td>
                <td class="align-middle">{{item.createdBy}}</td>
                <td class="align-middle">{{item.createdDate | date : 'dd/MM/yyyy HH:MM:ss'}}</td>
                <td class="align-middle">{{item.modifiedBy}}</td>
                <td class="align-middle">{{item.modifiedDate | date : 'dd/MM/yyyy HH:MM:ss'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="d-flex justify-content-center">
        <ngb-pagination [collectionSize]="totalRecord" (pageChange)="onChangePage($event)" #newsPages2
            [(page)]="currentPage" [pageSize]="itemPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>
    </div>
</div>